table {
    font-family: "Trebuchet MS, Arial, Helvetica, sans-serif";
}

.title {
    background-color: #993738;
    color: #fff;
}

.le {
    background-color: #ccc;
}

.chan {
    background-color: #fff;
}