.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 4px solid red;
}

.item:hover {
    border-style: double;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}